#messageComposer {
    border-style: solid;
    background-color:aquamarine;
}

#messageInput {
    width: 100%;
}

#signInPanel {
    background-color:rgb(197, 197, 197);
    position:absolute;
    height:150px;
    width:40%;
    top:30%;
    left:30%;
    border-style:solid;
    padding:10px;
    text-align:center;
}

#pageTitle {
    background-color:aquamarine;
}
.list-group-item {
    background-color:rgba(127, 255, 212, 0.267);
}